@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sql Script Generator</h1>
    <p class="lead">This is an open source sql generator for MS SQL.</p>
    <p><a href="https://github.com/merken/dbupgrade" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <p>@Html.ActionLink("Get started", "DacPac", "Home", new { @class = "btn btn-primary btn-lg" })</p>

</div>